<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Контакты</ion-title>
</ion-navbar>

<ion-content class="contacts">
  <div class="contact-list">
    <div class="contact-list-wrap">
      <ion-list>
        <ion-item *ngFor="let contact of constacts;">
            <ion-avatar item-left>
              <img *ngIf="contact.avatar != ''" class="contacts-avatar-img" src="{{contact.avatar}}"/>

              <div *ngIf="contact.avatar == ''" class="color-avatar">{{contact.shortName}}</div>
              <!--<img src="{{contact.avatar}}">-->
            </ion-avatar>
            <h2>{{contact.displayName}}</h2>

            <h3>ЯрГУ им. П.Г. Демидова</h3>

            <p>Живет в Ярославле</p>
          </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
