<ion-content class="profile">
    <div class="chart-progress" id="graph" data-percent="88" data-size="220" data-line="15" data-rotate="180"></div>
    <div class="chart-level">
        <div class="level">3</div>
        <div class="text">уровень</div>
    </div>
    <ion-card class="org-card" *ngFor="let card of profileRewards">
        <ion-card-header class="org-card-header">
            <div class="org">{{card.orgName}}</div>
        </ion-card-header>
        <ion-card-content class="org-card-content">
            <div class="progress-bar-wrap">
                <div class="progress-bar" [ngStyle]="{'width':card.cardChartPercent+'%'}"></div>
            </div>
            <div class="category-wrap" *ngIf="card.dopItems.length > 0">
                <div class="category" *ngFor="let dop of card.dopItems">
                    <div class="text">{{dop.description}}</div>
                    <div class="icon">
                        <img src="build/img/cat2.jpeg"/>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
